<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<form action="" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="number" name="price" placeholder="price">
    <input type="text" name="description" placeholder="description">
    <select name="id_category">
        <option>Banh mi</option>
        <option>Com</option>
    </select>
    {categories}
    <button>Add</button>
</form>
</body>
</html>